
<% if @user.errors.any?%>
<h2>Resolve the Errors to create Article</h2>
<ul>
    <% @user.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
    <div>
        <%= f.label :username %> <br/>
        <%= f.text_field :username %>
    </div>
    <div>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
    </div>
    <div>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
    </div>
    <%= f.submit "Sign Up" %>
<% end %>

<%= link_to 'Back to show all Articles', articles_path%>